<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'carts' %>
</head>
<body class="<%= controller.controller_name %>">
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<%= render @cart %>

<%= render(@cart.line_items) %>

<%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %>-->
<%= button_to 'Back', store_index_url, method: :get %>
</body>
</html>